{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bayram Oto İkinci El</title>
    <meta name="description" content="Bayram Oto İkinci El - Exper raporlu, garantili ikinci el araçlar. En uygun fiyatlı ikinci el araba alım satım hizmeti. Geniş araç yelpazesi ve güvenilir satış süreci.">
    <meta name="keywords" content="ikinci el araba, ikinci el oto, bayram oto, experli araç, garantili araba, uygun fiyata araba">
    <meta name="author" content="Bayram Oto">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://www.bayramotoikinciel.com" />
    
    <!-- Open Graph / Social Media Tags -->
    <meta property="og:title" content="Bayram Oto | İkinci El Araç Alım Satım | Exper Garantili Araçlar">
    <meta property="og:description" content="Exper raporlu, garantili ikinci el araçlar. En uygun fiyatlı ikinci el araba alım satım hizmeti.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.bayramotoikinciel.com">
    <meta property="og:image" content="https://www.bayramotoikinciel.com/images/logo-social.jpg">
    
    <!-- Diğer mevcut linkler -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'images/facicon-light.png' %}" type="image/png" media="(prefers-color-scheme: light)">
    <link rel="shortcut icon" href="{% static 'images/favicon-dark.png' %}" type="image/png" media="(prefers-color-scheme: dark)">

</head>
<body>
    <header>
        <h1>Bayram Oto İkinci El</h1>
        <a href="https://bayramotoikinciel.sahibinden.com" class="cta-button" target="_blank">Araçlarımıza Bakın</a>
    </header>

    <div style="border:none" class="content-section">
        <h2>Bakımdayız </h2>
        <p>Merhabalar sizlere daha iyi hizmet verebilmek için şu anda bakımdayız iletişim için alttaki hesplarımızdan bizlerle iletişime geçebilirsiniz.</p>
    </div>

    <div class="social-media">
        <div class="social-icons-container">
            <a href="https://www.instagram.com/bayramotoikinciel/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://bayramotoikinciel.sahibinden.com" target="_blank"><span class="sahibinden-logo">S</span></a>
            <a href="https://wa.me/905323565337" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="mailto:destek@bayramotoikinciel.com" target="_blank"><i class="fa-regular fa-envelope"></i></a>
        </div>
    </div>

    <footer>
        <p>&copy; 2025 Galeri Tanıtım - Tüm Hakları Saklıdır</p>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>